<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.html') %>
</head>
<body>
    <div class="container">
        <h1> kk de titulo </h1>
        <h2> kk de subtitulo </h2>

        <% if (status == 'succes') { %>
            <h3> playlist creada ! </h3>
        <% } else { %>
            <a href="/home/crear">
                <button type="" class="btn btn-success"> crear playlist </button>
            </a> 
        <% }; %>
    </div>
</body>
<footer>
    <%- include('partials/footer.html') %>
</footer>
</html>