<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.html') %>
</head>
<body>
    <div class="container">
        <h1 class="title"> Random spotify playlists </h1>
        <h2 class="subtitle"> Any genre, artist or style all can be!! </h2>

        <% if (status == 'succes') { %>
            <h3 class="succes_mesage"> playlist created ! </h3>
            <a href="<%- PL_link %>">
                <button type="" class="btn btn-success checkalok"> Check a look! </button>
            </a>
        <% } else { %>
            <a href="/home/crear">
                <button type="" class="btn btn-success big_button"> Create playlist </button>
            </a> 
        <% }; %>
    </div>
</body>
<footer>
    <%- include('partials/footer.html') %>
</footer>
</html>